/* mulish-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/mulish-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  min-width: 320px;
  min-height: 100vh;
  font-family: Mulish, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  background: #F8E8E2 url(../img/bg.svg) no-repeat top / contain;
  color: #000;
}

button{
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p, fieldset{
  margin: 0;
}

.container {
  --width: 1180px;
  --padding: 30px;
  max-width: calc(var(--width) + var(--padding) * 2);
  padding: 0 var(--padding);
  margin: 0 auto;
}

.btn {
  color: #fff;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 40px;
  background-color: #F44;
  box-shadow: 0px 4px 20px 0px #FA5A5A;
}

.header {
  padding: 36px 0;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btns{
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__btn-order {
  width: 24px;
  height: 24px;
}

.header__btn {
  display: block;
}

.hero {
  padding: 30px 0 85px;
}

.hero__title {
  max-width: 880px;
  font-size: 84px;
  font-weight: 900;
  margin-bottom: 70px;
}

.text-red {
  color: #F44;
}

.hero__cups {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding-top: 200px;
}

.hero__cup {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 24px;
}

.hero__cup_pink {
  background-color: #FF196C;
}

.hero__img {
  position: absolute;
  width: 55%;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
}

.hero__cup_green {
  background-color: #34B905;
}

.hero__cup_orange {
  background-color: #FFB72A;
  margin-top: -70px;
  align-self: flex-start;
}

.goods {
  padding: 60px 0 70px;
}
.goods__title {
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 40px;.
}
.goods__list {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 20px;
}
.goods__item {
}
.goods__cart {
}
.coctail {
  padding: 12px;
  border-radius: 32px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.coctail__img {
  width: 100%;
  border-radius: 24px;
}
.coctail__content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.coctail__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 2px 5px;
}
.coctail__title {
  font-size: inherit;
  font-weight: 400;
}
.coctail__price {
  font-weight: 600;
}
.coctail__size {
  flex: 0 0 100%;
  font-weight: 600;
  font-size: 12px;
  color: #C1C1C1;
  text-align: end;
  margin-bottom: 10px;
}
.coctail__btn {
  margin-top: auto;
}

.footer {
  padding: 30px 0 32px;
}
.footer__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  grid-template-areas: 
  'logo .'
  'copyright developer';
}
.footer__logo {
  grid-area: logo;
}
.footer__copyright {
  grid-area: copyright;
}
.footer__developer {
  grid-area: developer;
  justify-self: end;
  min-width: 230px;
}
.footer__developer-item {
  margin-bottom: 10px;
}

.footer__developer-item:last-child{
  margin-bottom: 0;
}

.footer__developer-link {
}

@media (max-width: 1240px) {
  
}